@import url('res/futurastd-medium.css');

html {
	color: white;
}

#wrap {
	width: 500px;
	min-height: 135px;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    overflow: hidden;
}

table {
	text-align: left;
}

th, td {
	padding-left: 25px;
}

td {
	color: white;
}

th {
	padding-top: 5px;
	height: 35px;
}

tr th:last-child{
	text-align: right;
	padding-right: 15px;
}

tr {
	font-size: 120%;
	font-family: 'Segoe UI';
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);*/
}

tr{
	border-bottom: 2px solid white;
	height: 30px;
}

tr.heading{
	border-bottom: none;
}

tr.heading,caption {
    background-color: #696969;
    color: rgba(255, 255, 255, 0.9);
}

caption{
	font-size: 22px;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	padding-top: 5px;
}

tr td{
	text-align: left;
}

tr td:last-child{
	text-align: right;
	padding-right: 15px;
}

#message{
	margin: 5px auto;
	text-align: center;
}