#water {
    background: url(https://cdn.discordapp.com/attachments/522345297259659264/552144006046416906/water.png) no-repeat;
    background-size: 23%;
}

#telefon {
    background: url(https://cdn.discordapp.com/attachments/522345297259659264/552143993509642261/phone.png) no-repeat;
    background-size: 70%;
}

#lockpick {
    background: url(https://i.imgur.com/PeZ46JX.png) no-repeat;
    background-size: 50%;
}

#lott {
    background: url(https://cdn.discordapp.com/attachments/522345297259659264/552143996256780288/trisslot.jpg) no-repeat;
    background-size: 50%;
}

#bread {
    background: url(http://www.pngmart.com/files/5/Italian-Bread-PNG-Photos.png) no-repeat;
    background-size: 80%;
}

#WEAPON_PISTOL {
    background: url(http://pngimg.com/uploads/gun/gun_PNG1358.png) no-repeat;
    background-size: 80%;
}

#WEAPON_APPISTOL {
    background: url(https://vignette.wikia.nocookie.net/the-gta-online/images/3/34/APPistol-GTAV.png/revision/latest/scale-to-width-down/210?cb=20150519175336) no-repeat;
    background-size: 80%;
}

#WEAPON_HEAVYPISTOL {
    background: url(https://www.gtabase.com/images/gta-5/weapons/handguns/heavy-pistol.png) no-repeat;
    background-size: 230%;
}

#WEAPON_BAT {
    background: url(https://gamepedia.cursecdn.com/thedeadlinger_gamepedia/thumb/3/3c/Weapon_melee_baseballbat_wooden.png/150px-Weapon_melee_baseballbat_wooden.png?version=0c306666934df721bb14d98bba49c7a9) no-repeat;
    background-size: 70%;
}

#WEAPON_ASSAULTRIFLE {
    background: url(http://pngimg.com/uploads/ak47/ak47_PNG15471.png) no-repeat;
    background-size: 100%;
}

#weed {
    background: url(https://i.imgur.com/4Mesivp.png) no-repeat;
    background-size: 50%;
}

#weed_pooch {
    background: url(https://i.imgur.com/jttujJb.png) no-repeat;
    background-size: 50%;
}

#scratchoff {
    background: url(https://i.imgur.com/YDCf6GE.png) no-repeat;
    background-size: 50%;
}

#scratchoff_used {
    background: url(https://i.imgur.com/vk9mQvp.png) no-repeat;
    background-size: 50%;
}

#coke {
    background: url(https://i.imgur.com/4pI7DvT.png) no-repeat;
    background-size: 50%;
}

#coke_pooch {
    background: url(https://i.imgur.com/d9zN4Cj.png) no-repeat;
    background-size: 50%;
}

#meth {
    background: url(https://i.imgur.com/PHsFdG7.png) no-repeat;
    background-size: 50%;
}

#meth_pooch {
    background: url(https://i.imgur.com/gbOscu4.png) no-repeat;
    background-size: 50%;
}

#opium {
    background: url(https://i.imgur.com/wTRVeSW.png) no-repeat;
    background-size: 50%;
}

#opium_pooch {
    background: url(https://i.imgur.com/ti0xgGQ.png) no-repeat;
    background-size: 50%;
}

#alive_chicken {
    background: url(https://i.imgur.com/PywAKlw.png) no-repeat;
    background-size: 50%;
}

#slaughtered_chicken {
    background: url(https://i.imgur.com/Ewg90eU.png) no-repeat;
    background-size: 50%;
}

#packaged_chicken {
    background: url(https://i.imgur.com/zxnipr1.png) no-repeat;
    background-size: 50%;
}

#fish {
    background: url(https://i.imgur.com/AKu7Fgz.png) no-repeat;
    background-size: 50%;
}

#stone {
    background: url(https://i.imgur.com/VyfjHom.png) no-repeat;
    background-size: 50%;
}

#washed_stone {
    background: url(https://i.imgur.com/eEk0sjp.png) no-repeat;
    background-size: 50%;
}

#copper {
    background: url(https://i.imgur.com/m0qLgUF.png) no-repeat;
    background-size: 50%;
}

#iron {
    background: url(https://i.imgur.com/BcMTUg9.png) no-repeat;
    background-size: 50%;
}

#gold {
    background: url(https://i.imgur.com/q37062p.png) no-repeat;
    background-size: 50%;
}

#diamond {
    background: url(https://i.imgur.com/NVAmdOY.png) no-repeat;
    background-size: 50%;
}

#wood {
    background: url(https://i.imgur.com/1zZEfG0.png) no-repeat;
    background-size: 50%;
}

#cutted_wood {
    background: url(https://i.imgur.com/17h5d3d.png) no-repeat;
    background-size: 50%;
}

#packaged_plank {
    background: url(https://i.imgur.com/EHfCnmT.png) no-repeat;
    background-size: 50%;
}

#petrol {
    background: url(https://i.imgur.com/4eT495K.png) no-repeat;
    background-size: 50%;
}

#petrol_raffin {
    background: url(https://i.imgur.com/T1YOASz.png) no-repeat;
    background-size: 50%;
}

#whool {
    background: url(https://i.imgur.com/wvCZ2V9.png) no-repeat;
    background-size: 50%;
}

#fabric {
    background: url(https://i.imgur.com/qBkcCZq.png) no-repeat;
    background-size: 50%;
}

#clothe {
    background: url(https://i.imgur.com/O3Spea3.png) no-repeat;
    background-size: 50%;
}

#gazbottle {
    background: url(https://i.imgur.com/ioTUvv2.png) no-repeat;
    background-size: 50%;
}

#fixtool {
    background: url(https://i.imgur.com/ngs09xN.png) no-repeat;
    background-size: 50%;
}

#carotool {
    background: url(https://i.imgur.com/OrrZ05b.png) no-repeat;
    background-size: 50%;
}

#blowpipe {
    background: url(https://i.imgur.com/YPlr9YW.png) no-repeat;
    background-size: 50%;
}

#fixkit {
    background: url(https://i.imgur.com/ngs09xN.png) no-repeat;
    background-size: 50%;
}

#carokit {
    background: url(https://i.imgur.com/r30AsoN.png) no-repeat;
    background-size: 50%;
}

#beer {
    background: url(https://i.imgur.com/bER0tZb.png) no-repeat;
    background-size: 50%;
}

#bandages {
    background: url(https://i.imgur.com/aXDJ03Z.png) no-repeat;
    background-size: 50%;
}
#medikit {
    background: url(https://i.imgur.com/2Y7Bfkp.png) no-repeat;
    background-size: 50%;
}

#pills {
    background: url(https://i.imgur.com/SirkZD0.png) no-repeat;
    background-size: 50%;
}

#vodka {
    background: url(https://i.imgur.com/cLYGQfC.png) no-repeat;
    background-size: 50%;
}

#coffee {
    background: url(https://i.imgur.com/l620gVU.png) no-repeat;
    background-size: 50%;
}

#clip {
    background: url(https://i.imgur.com/CcthuUt.png) no-repeat;
    background-size: 50%;
}

#jager {
    background: url(https://i.imgur.com/NfVTO5f.png) no-repeat;
    background-size: 50%;
}

#rhum {
    background: url(https://i.imgur.com/G67W8ds.png) no-repeat;
    background-size: 50%;
}

#whiskey {
    background: url(https://i.imgur.com/E7QwMWP.png) no-repeat;
    background-size: 50%;
}

#tequila {
    background: url(https://i.imgur.com/hBhymqs.png) no-repeat;
    background-size: 50%;
}

#martini {
    background: url(https://i.imgur.com/BuEak9F.png) no-repeat;
    background-size: 50%;
}

#soda {
    background: url(https://i.imgur.com/x6H7gSv.png) no-repeat;
    background-size: 50%;
}

#jusfruit {
    background: url(https://i.imgur.com/lIIN8qS.png) no-repeat;
    background-size: 50%;
}

#icetea {
    background: url(https://i.imgur.com/dP8imvn.png) no-repeat;
    background-size: 50%;
}

#energy {
    background: url(https://i.imgur.com/7owqar4.png) no-repeat;
    background-size: 50%;
}

#drpepper {
    background: url(https://i.imgur.com/h17fEQb.png) no-repeat;
    background-size: 50%;
}

#limonad {
    background: url(https://i.imgur.com/HjgYQJZ.png) no-repeat;
    background-size: 50%;
}

#bolpistache {
    background: url(https://i.imgur.com/i182lva.png) no-repeat;
    background-size: 50%;
}

#bolnoixcajou {
    background: url(https://i.imgur.com/GczxduK.png) no-repeat;
    background-size: 50%;
}

#bolcacahuetes {
    background: url(https://i.imgur.com/hGPGQT8.png) no-repeat;
    background-size: 50%;
}

#bolchips {
    background: url(https://i.imgur.com/gNkTXB9.png) no-repeat;
    background-size: 50%;
}

#saucisson {
    background: url(https://i.imgur.com/CNx5f8O.png) no-repeat;
    background-size: 50%;
}

#grapperaisin {
    background: url(https://i.imgur.com/tpK1GCd.png) no-repeat;
    background-size: 50%;
}

#jagerbomb {
    background: url(https://i.imgur.com/v72PpaI.png) no-repeat;
    background-size: 50%;
}

#whiskeycoke {
    background: url(https://i.imgur.com/m1ZZY35.png) no-repeat;
    background-size: 50%;
}

#vodkaenergy {
    background: url(https://i.imgur.com/8QWALY2.png) no-repeat;
    background-size: 50%;
}

#vodkafruit {
    background: url(https://i.imgur.com/vouoaRa.png) no-repeat;
    background-size: 50%;
}

#rhumfruit {
    background: url(https://i.imgur.com/h0DIYrq.png) no-repeat;
    background-size: 50%;
}

#teqpaf {
    background: url(https://i.imgur.com/KAXxkQC.png) no-repeat;
    background-size: 50%;
}

#rhumcoca {
    background: url(https://i.imgur.com/HjgYQJZ.png) no-repeat;
    background-size: 50%;
}

#mojito {
    background: url(https://i.imgur.com/seQaLZm.png) no-repeat;
    background-size: 50%;
}

#ice {
    background: url(https://i.imgur.com/7y697ig.png) no-repeat;
    background-size: 50%;
}

#mixapero {
    background: url(https://i.imgur.com/nB9PxB8.png) no-repeat;
    background-size: 50%;
}

#metreshooter {
    background: url(https://i.imgur.com/Lnwjdwt.png) no-repeat;
    background-size: 50%;
}

#menthe {
    background: url(https://i.imgur.com/osfBxNj.png) no-repeat;
    background-size: 50%;
}

#turtle {
    background: url(https://i.imgur.com/z0NEiFz.png) no-repeat;
    background-size: 50%;
}

#turtle_pooch {
    background: url(https://i.imgur.com/AASZtS7.png) no-repeat;
    background-size: 50%;
}

#lsd {
    background: url(https://i.imgur.com/lG92v8H.png) no-repeat;
    background-size: 50%;
}

#lsd_pooch {
    background: url(https://i.imgur.com/8EdfmeB.png) no-repeat;
    background-size: 50%;
}

#pearl {
    background: url(https://i.imgur.com/LQY7I9u.png) no-repeat;
    background-size: 50%;
}

#pearl_pooch {
    background: url(https://i.imgur.com/BA78zEm.png) no-repeat;
    background-size: 50%;
}

#litter {
    background: url(https://i.imgur.com/IvWP2tq.png) no-repeat;
    background-size: 50%;
}

#litter_pooch {
    background: url(https://i.imgur.com/J8nyhHN.png) no-repeat;
    background-size: 50%;
}

#nitro {
    background: url(https://i.imgur.com/yFlAXks.png) no-repeat;
    background-size: 50%;
}

#vegtables {
    background: url(https://i.imgur.com/yY7GgMu.png) no-repeat;
    background-size: 50%;
}

#meat {
    background: url(https://i.imgur.com/K0blq9C.png) no-repeat;
    background-size: 50%;
}

#tacos {
    background: url(https://i.imgur.com/tyvZQtv.png) no-repeat;
    background-size: 50%;
}

#burger {
    background: url(https://i.imgur.com/V9G6Tl0.png) no-repeat;
    background-size: 50%;
}

#silencieux {
    background: url(https://i.imgur.com/JOIENHW.png) no-repeat;
    background-size: 50%;
}

#flashlight {
    background: url(https://i.imgur.com/viBIHfI.png) no-repeat;
    background-size: 50%;
}

#grip {
    background: url(https://i.imgur.com/GYeBejy.png) no-repeat;
    background-size: 50%;
}

#yusuf {
    background: url(https://i.imgur.com/PBAKYNe.png) no-repeat;
    background-size: 50%;
}

#binoculars {
    background: url(https://i.imgur.com/MaTllsq.png) no-repeat;
    background-size: 50%;
}

#croquettes {
    background: url(https://i.imgur.com/AmB2hbP.png) no-repeat;
    background-size: 50%;
}

#blackberry {
    background: url(https://i.imgur.com/Iwmk6oj.png) no-repeat;
    background-size: 50%;
}

#lighter {
    background: url(https://i.imgur.com/gUGNo1k.png) no-repeat;
    background-size: 50%;
}

#cigarett {
    background: url(https://i.imgur.com/5kis1o3.png) no-repeat;
    background-size: 50%;
}

#armor {
    background: url(https://i.imgur.com/R1qmOiC.png) no-repeat;
    background-size: 50%;
}

#contrat {
    background: url(https://i.imgur.com/2i06BSo.png) no-repeat;
    background-size: 50%;
}

#gym_membership {
    background: url(https://i.imgur.com/tjSfP91.png) no-repeat;
    background-size: 50%;
}

#powerade {
    background: url(https://i.imgur.com/v9cvZV3.png) no-repeat;
    background-size: 50%;
}

#sportlunch {
    background: url(https://i.imgur.com/xBPie28.png) no-repeat;
    background-size: 50%;
}

#protein_shake {
    background: url(https://i.imgur.com/XZ90Ia9.png) no-repeat;
    background-size: 50%;
}

#plongee1 {
    background: url(https://i.imgur.com/Oknawgv.png) no-repeat;
    background-size: 50%;
}

#plongee2 {
    background: url(https://i.imgur.com/rSIXjYm.png) no-repeat;
    background-size: 50%;
}

#leather {
    background: url(https://i.imgur.com/rIoL8qb.png) no-repeat;
    background-size: 50%;
}

#cola {
    background: url(https://i.imgur.com/6gare9t.png) no-repeat;
    background-size: 50%;
}

#donut {
    background: url(https://i.imgur.com/HnBBRHy.png) no-repeat;
    background-size: 50%;
}