/* HTML */

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
}

*:focus {
  outline: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    --item-text-color: white;
    --item-padding: 1px;
    --item-height: 15%;
    --item-width: 15%;
    --item-float: left;
    --item-bg-position: center;
    --item-bg-color: rgb(31, 30, 43);
    --item-shadow: 11px 15px 13px 0px rgba(0,0,0,0.75);
    --item-border-radius: 5px;
    --item-border: rgb(0, 230, 247) solid 1px;
    --item-margin: 1%;
    --main-color: rgb(0, 230, 247);
}

.default {
  padding: var(--item-padding);
  height: var(--item-height);
  width: var(--item-width);
  margin: var(--item-margin);
  background: url(https://www.unesale.com/ProductImages/Large/notfound.png) no-repeat;
  background-size: 80%;
  float: var(--item-float);
  background-position: var(--item-bg-position);
  color: var(--item-text-color);
  background-color: var(--item-bg-color);
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  border-radius: var(--item-border-radius);
  border: var(--item-border);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.item-inner::-webkit-scrollbar-track
{
	border: 1px solid var(--main-color);
	background-color: rgb(25, 25, 35);
}

.item-inner::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(25, 25, 35);
}

.item-inner::-webkit-scrollbar-thumb
{
	background-color: var(--main-color);	
}

#drag1::-webkit-scrollbar-track
{
	border: 1px solid var(--main-color);
	background-color: rgb(25, 25, 35);
}

#drag1::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(25, 25, 35);
}

#drag1::-webkit-scrollbar-thumb
{
	background-color: rgb(0, 230, 247);	
}

/* ID's */

#button-use {
  border: none;
  position: absolute;
  padding: 1% 2.2%;
  border-radius: 10px;
  background: var(--main-color);
  color: black;
  margin-top: 10%;
  margin-left: 3.2%;
  font-size: 150%;
  border: 1px solid var(--main-color);
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
}

#button-use:hover {
  transition: 500ms;
  background: white
}

#button:hover {
  transition: 500ms;
  background: white
}

#button {
  border: none;
  font-size: 150%;
  padding: 1% 1.9%;
  position: absolute;
  background: var(--main-color);
  color: black;
  border-radius: 10px;
  margin-top: 15%;
  margin-left: 3.2%;
  border: 1px solid var(--main-color);
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
}

#drop-count {
  z-index: 999;
  font-size: 150%;
  margin-top: 44%;
  margin-left: 1%;
  position: absolute;
  width: 6.5%;
  background: var(--main-color);
  color: black;
  border: none;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--main-color);
  margin-top: 20%;
  margin-left: 3.2%;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
}

#drag2 > div:active {
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  border: 2px solid rgb(212, 212, 212);
}


.fa-box-open {
  color: var(--main-color);
  padding: 5px;
  padding-top: 10px;
  font-size: 180%;
}

.fa-campground {
  color: var(--main-color);
  padding: 5px;
  padding-top: 10px;
  font-size: 180%;
}

.cash {
  width: 12%;
  height: 5%;
  background: rgb(25, 25, 35);
  position: absolute;
  color: var(--main-color);
  text-align: center;
  margin-left: 2%;
  margin-top: 51.2%;
  border: 1px solid var(--main-color);
}

#cash::after {
  content: '$';
  color: gray;
  margin-left: 4px;
}

#cash {
  margin-top: 5%;
  font-size: 20px;
}



#job {
  color: var(--main-color);
  margin-left: 10px;
}

.job {
  color: white;
  font-size: 120%;
}

#job-box {
  border: 1px solid var(--main-color);
  padding: 20px;
}

.blackmoney {
  width: 12%;
  height: 5%;
  background: rgb(25, 25, 35);
  position: absolute;
  color: var(--main-color);
  text-align: center;
  margin-left: 14%;
  margin-top: 51.2%;
  border: 1px solid var(--main-color);
}

#blackmoney::after {
  content: '$';
  color: gray;
  margin-left: 4px;
}

#blackmoney {
  margin-top: 5%;
  font-size: 20px;
}

.bank {
  width: 12%;
  height: 5%;
  background: rgb(25, 25, 35);
  position: absolute;
  color: var(--main-color);
  text-align: center;
  margin-left: 26%;
  margin-top: 51.2%;
  border: 1px solid var(--main-color);
}

.fa-money-check, .fa-money-bill-alt {
  float: left;
  font-size: 190%;
  margin-left: -42%;
  position: absolute;
  margin-top: 4%;
}

.fa-money-bill {
  color: red;
  float: left;
  font-size: 190%;
  margin-left: -42%;
  position: absolute;
  margin-top: 5%;
}

#bank::after {
  content: '$';
  color: gray;
  margin-left: 4px;
}

#bank {
  margin-top: 5%;
  font-size: 20px;
}

.item-container {
  width: 13%;
  height: 75.5%;
  margin-top: 10%;
  float: right;
  background: rgb(25, 25, 35);
  margin-right: 3%;
}

#item-box {
  margin: 5px;
  width: 2.5%;
  position: absolute;
  height: 5%;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  background: var(--item-bg-color);
}

#item-box-2 {
  margin: 5px;
  width: 2.5%;
  position: absolute;
  height: 5%;
  -webkit-box-shadow: var(--item-shadow);
  -moz-box-shadow: var(--item-shadow);
  box-shadow: var(--item-shadow);
  background: var(--item-bg-color);
}

/* CLASSES */

.heading {
  color: white;
  position: absolute;
  margin-top: 0.7%;
  margin-left: 3.8%;
  font-size: 100%;
}

.heading-2 {
  color: white;
  position: absolute;
  margin-top: 0.7%;
  margin-left: 3.8%;
  font-size: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

.item-inner-2 {
  width: 100%;
  height: 100%;
  float: left;
  margin-right: 2%;
  background: no-repeat;
  background-size: 90%; 
  margin-left: 38%;
  position: absolute;
}

.item-section {
    width: 40%;
    height: 91%;
    margin-top: 6%;
    margin-left: 2%;
    float: left;
    background: no-repeat;
    background-size: 90%;
}

.item-section {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTkgNjI3Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6IzE5MTkyMzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmludmVudG9yeVNWRzwvdGl0bGU+PGcgaWQ9IkxhZ2VyXzIiIGRhdGEtbmFtZT0iTGFnZXIgMiI+PGcgaWQ9IkxhZ2VyXzEtMiIgZGF0YS1uYW1lPSJMYWdlciAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTI3IDAgMCAwIDAgNDEgMCAyNjkgMCA2MjcgNDk5IDYyNyA0OTkgNDEgMTY1IDQwIDEyNyAwIi8+PC9nPjwvZz48L3N2Zz4=);
}

.item-inner {
    height: 80%;
    width: 88%;
    float: left;
    overflow-y: scroll;
    margin-top: 10%;
    margin-left: 2%;
}

#drag1 {
  width: 100%;
  height:100%;
  float: left;
  margin-top: 0%;
  margin-left: 0%;
  overflow-y: scroll;
}

.gu-mirror {
    cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 1;
    -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-animation: wiggle 0.3s 0s infinite ease-in;
  animation: wiggle 0.3s 0s infinite ease-in;
  }

.gu-hide {
  display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
} 

.gu-transit {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

/* KEYFRAMES */
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(4deg);
  }
  75% {
    -webkit-transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


