@font-face {
    font-family: 'BankGothic';
    src: url('../misc/bankgothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../misc/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	box-sizing: border-box;
}

body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	background: black;
	font-family: BankGothic;
	color: #fff;
	animation: lights ease-in-out .6s infinite alternate;
}


@media screen and (max-width: 1300px) {
	body{
		font-size: 60% !important;
	}
}

@media screen and (max-width: 1650px) {
	body{
		font-size: 80%;
	}
}


h1, h2, h3, h4{
	position: relative;
	margin: 0;
}

[text]:before{
	content: attr(text);
	position: absolute;
	-webkit-text-stroke: 6px #000;
	left: 0;
	width: 100%;
	z-index: -1;
	white-space: nowrap;
}

.padLeft{
	margin-right: 1em;
	text-align: left;
}
.centered, .centered[text]:before{
	text-align: center;
}



#bodyContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(0);
	transition: 500ms;

	padding: 2em;
	user-select: none;
	font-size: 220%;
	/*cursor: none;*/

	background-image: url(../img/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

	animation: fadein ease 1s;
}



#darkenBorders{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/darken.png);
    background-size: 100% 100%;
}
#centerLogo{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6em;
	margin-left: -3em;
	margin-top: -3.2em;
}

.credit{
	position: absolute;
	font-size: 14px;
	bottom: 5px;
}
.credit.left{
	left: 10px;
}
.credit.right{
	right: 10px;
}

#centerLoader{
	position: absolute;
	top: 50%;
	left: 50%;
    border: 1px solid transparent;
    border-left: 1px solid black;
	border-right: 1px solid black;
    border-radius: 50%;
    width: 11em;
    height: 11em;
	margin-left: -5.5em;
	margin-top: -5.5em;
    animation: spin 2s ease-in-out infinite;
}




#loaderMessage{
    position: absolute;
    bottom: 3.5em;
    width: 100%;
    left: 0;
}
#loaderBar{
	width: auto;
	background: white;
	outline: 4px solid black;
	height: 1em;
	bottom: 2em;
	left: 2em;
	right: 2em;
	position: absolute;

	padding: .1em;
	list-style-type: none;
	text-align:left;
	overflow: hidden;

	opacity: 0;
	transition: .4s;
}
#loaderBar div{
	width: 0%;
	height: 100%;
	background: black;
	transition-delay: .3s;
	transition: .2s;
	position: relative;
}
#loaderBar span{
    display: block;
    position: absolute;
    font-size: 1em;
    top: -.15em;
    right: -200px;
	width: 200px;
	float: right;
    color: black;
}








@keyframes lights{
	0%{	
		filter: saturate(0.75);
	}
    100%{
		filter: saturate(1.05);
	}
}

@keyframes spin {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(720deg);
	}
	30%,70%{
		border: 30px  solid transparent;
    	border-left: 30px solid rgba(0,0,0,0.1);
		border-right: 30px  solid rgba(0,0,0,0.1);
		filter: blur(2px);
	}
	0%,100%{
		border: 1px solid transparent;
		border-left: 1px solid black;
		border-right: 1px solid black;
		filter: blur(0px);
	}
}

@keyframes fadein{
	0%{	
		opacity: 0;
	}
    20%{
		opacity: 0;
	}
    100%{
		opacity: 1;
	}
}