/*
Author: @NicolasStr_
If you have any issue, please consider opening an issue on Github
https://github.com/NicolasStr/fivem-loading-sleek/
*/

@font-face {
    font-family: Pricedown;
    src: url('pricedown.ttf');
}
body{
	height:100%;
	width:100%;
	margin:0;
    background: black;
}
.bg {
	opacity: 1;
    background-image: url(img/bg3.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
	background-size: cover;
	background-position: center center;
    z-index: 1;
}
.bg iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.content{
	height:100%;
	width:100%;
	margin:0;
	position: absolute;
    z-index: 2;
}
.content div{
	padding: 30px;
}
.content h2{
	font-size: 45px;
    font-family: Pricedown !important;
	color: white;
    text-shadow: black 0 0 10px;
}
.content h1{
	font-size: 40px;
    font-family: Pricedown !important;
	color: white;
    text-shadow: black 0 0 10px;
}
.content > .desc > p {
    margin-top: 50px;
	font-size: 30px;
    font-family: Pricedown !important;
	color: white;
    text-shadow: black 0 0 10px;
}
.progression{
	position:absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.progress-bar{
	position:absolute;
    width: 0;
    margin: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.20);
}
.progress-infos{
	position:absolute;
    width: 100%;
    margin: 0;
    height: calc( 100% - 15px );
    color: white;
    top:15px;
    font-family: 'Lato', sans-serif;
}